.container {
    position: absolute;
    left: 25%;
    top: 50%;
    height: 200;
    margin-top: -20%; 
    width: 600px;  
}

body{
    background-image: url("../../Assets/backgroundII.png");
    background-repeat: no-repeat;
    background-size:cover;
    /*background-image: linear-gradient(to left, grey ,#002141);*/
}

.card{
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    width: 100%;
    height: 16rem; 
    position: relative;
    background: inherit;    
}

.card:before{
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(49, 78, 104, 1.0);
    margin: -20px;
    
}
